#dknemid-error-message-label {
    display: none;
}

#dknemid-error-message .dknemid-label:first-child {
    display: none;
}

.dknemid-error {
    color: transparent;
    font-size: 0;
    z-index: -100;
}

.dknemid-error:after {
    font-size: 16px;
    color: black;
}

form .dknemid-error:after {
    content: 'Du har indtastet forkert CPR-nummer.';
}

.dknemid-error:after {
    content: 'Du kan ikke bruge dit personlige NemId til at logge ind på Erhverv.';
}

.dknemid-error-message-not-company-signatory .dknemid-error:after {
    content: 'Det ser ud til, at du ikke er kunde i Codan Erhverv. Ønsker du i stedet at logge ind og se dine privatforsikringer skal du vælge fanen for Privat.';
}


.company-selector h2 {
    color: transparent;
    font-size: 0;
    z-index: -100;
}

.company-selector h2:after {
    font-size: 20px;
    color: black;
    content: "Vælg virksomhed"
}


.company-selector p {
    color: transparent;
    font-size: 0;
    z-index: -100;
}

.company-selector p:after {
    font-size: 16px;
    color: black;
}

.company-selector p.lang-da:after {
    content: 'Vælg den virksomhed, som du vil logge ind på vegne af. Vær opmærksom på, at du skal logge ud af Mit Codan før du kan logge ind på vegne af en anden virksomhed.';
}

.company-selector p.lang-en:after {
    content: 'Vælg den virksomhed, som du vil logge ind på vegne af. Vær opmærksom på, at du skal logge ud af Mit Codan før du kan logge ind på vegne af en anden virksomhed.';
}

.company-button-continue {
    cursor: pointer;
}

.company-list ul li .left.note {
    color: transparent;
    font-size: 0;
}

.company-list ul li .left.note:after {
    font-size: 14px;
    color: grey;
    content: "CVR-nummer:";
}
