---
---

body {
    font-family: 'Raleway', sans-serif;

    a {
        color: #0a84ae;

        &:hover, &:focus, &:active {
            color: #ff7058;
            outline: none;
            text-decoration: none; 
        }
    }

    .main-content {
        margin-top: 90px;
    }
      
}

@import "header";
@import "sidebar";
@import "code";
@import "code-monokai";
@import "article";
@import "footer";