<!-- start section footer -->
<footer class="footer">

    {% if page.footer-only-copyright %}
    <p class="copyright">Criipto 2019</p>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="collection">
                    <img src="/images/logo-criipto-dark.svg" alt="Criipto"/>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="collection">
                    <p>Criipto ApS</p>
                    <p>Dronninggårds Allé 136</p>
                    <p>2840 Holte</p>
                    <p>Denmark</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="collection">
                    <a class="black" href="mailto:hello@criipto.com">hello@criipto.com</a>
                    <a class="black" href="mailto:sales@criipto.com">sales@criipto.com</a>
                    <a class="black" href="mailto:support@criipto.com">support@criipto.com</a>
                    <p>&nbsp;</p>
                    <a class="black" href="https://criipto.com/tos">Terms of Service</a>
                    <a class="black" href="https://criipto.com/privacy">Data Protection Policy</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="collection">
                    <div class="social-links">
                        <a href="https://www.linkedin.com/company/3078112"><i class="fa fa-linkedin" aria-hidden="true"></i>Check us on Linkedin</a>
                        <a href="https://twitter.com/criiptocph"><i class="fa fa-twitter" aria-hidden="true"></i>Check us on Twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</footer>

<!-- end section footer -->
