<!-- start section footer -->
<footer class="footer position-relative overflow-hidden text-white">

    {% if page.footer-only-copyright %}
      <p class="copyright">Criipto 2017, 2018, 2019, 2020</p>
    {% else %}
      <div class="bg-stretch has-gradient-box">
        <span data-srcset="/images/bg02.jpg, /images/bg02-2x.jpg 2x"></span>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-6 col-lg-12">
            <div class="logo">
              <a href="https://criipto.com">
                <img src="/images/logo.svg" alt="Criipto">
              </a>
           </div>
          </div>
          <div class="col-6 col-lg-3 col-xl-2 order-lg-last">
            <ul class="social-networks list-unstyled">
              <li><a href="https://twitter.com/criipto"><i class="icon icon-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/company/3078112"><i class="icon icon-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="col-12 col-md-4 col-lg-3">
            <address>Criipto ApS <br>Dronninggårds Allé 136 <br>2840 Holte <br>Denmark</address>
          </div>
          <nav class="col-12 col-md-4 col-lg-3 col-xl-4">
            <ul class="pl-xl-70">
              <li><a href="mailto:hello@criipto.com">hello@criipto.com</a></li>
              <li><a href="mailto:sales@criipto.com">sales@criipto.com</a></li>
              <li><a href="mailto:support@criipto.com">support@criipto.com</a></li>
            </ul>
          </nav>
          <nav class="col-12 col-md-4 col-lg-3">
            <ul class="pl-xl-10">
              <li><a href="https://criipto.com/legal/tos">Terms of Service</a></li>
              <li><a href="https://criipto.com/legal/privacy">Data Protection Policy</a></li>
              <li class="status" id="footer-status"><a href="https://status.criipto.com">Operations Status</a></li>
            </ul>
          </nav>
        </div>
      </div>
    {% endif %}

</footer>
<!-- end section footer -->

<script type="text/javascript" src="https://cdn.statuspage.io/se-v2.js"></script>