<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">                
                <a href="https://criipto.com" class="logo"><img src="/images/logo-criipto-dark.svg" class="dark-logo"></a>
                <a href="/" class="logo">DOCS</a>
                

                <!-- main navigation -->
                <div class="wrap-login float-right hidden-xs">
                    <div class="button-wrap">
                        
                        <a href="" class="login-button">Log in</a>

                        <div class="popup-window">
                            <div class="close-menu">
                                <span></span>
                                <span></span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="popup-head">
                                <p class="h3">Log in</p>
                            </div>
                            
                            <div class="popup-body">
                                <a href="https://manage.criipto.id" class="login-verify">
                                    <p class="bold">Criipto Verify</p>
                                    <p>Setup national-ID verification in your app in minutes</p>
                                </a>
                            </div>                            
                        </div>
                    </div>

                    <div class="button-wrap">
                        
                        <a href="" class="free-trial">Sign up</a>
                        
                        <div class="popup-window">
                            <div class="close-menu">
                                <span></span>
                                <span></span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="popup-head">
                                <p class="h3">Sign up</p>
                            </div>
                            
                            <div class="popup-body">
                                <a href="https://criipto.com/products/criipto-verify-pricing#plans">
                                    <p class="bold">Criipto Verify</p>
                                    <p>Setup national/bank ID verification in your app in minutes</p>
                                </a>
                            </div>
                            
                            <!--  -->
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>