<div class="sidebar">
	<ul>
		<li>
			<h1><a href="/">Articles</a></h1>
		</li>
		<li>Getting Started
			<ul>
				<li class="{% if '/getting-started/overview/' == page.url %}active{% endif %}">
					<a href="{% link getting-started/overview.md %}">Criipto Overview</a>
				</li>
				<li class="{% if '/getting-started/basics/' == page.url %}active{% endif %}">
					<a href="{% link getting-started/basics.md %}">Learn the Basics</a>
				</li>
				<li class="{% if '/getting-started/oidc-intro/' == page.url %}active{% endif %}">
					<a href="{% link getting-started/oidc-intro.md %}">Using OpenID Connect</a>
				</li>
				<li class="{% if '/getting-started/token-contents/' == page.url %}active{% endif %}">
					<a href="{% link getting-started/token-contents.md %}">JWT payloads pr. e-ID type</a>
				</li>
				<li class="{% if '/getting-started/rate-limiting/' == page.url %}active{% endif %}">
					<a href="{% link getting-started/rate-limiting.md %}">Rate limiting</a>
				</li>
			</ul>
		</li>
		<li>Authentication Integration
			<ul>
				<li class="{% if '/authentication/aspnetcore/' == page.url %}active{% endif %}">
					<a href="{% link authentication/aspnetcore.md %}">ASP.NET Core 2.x</a>
				</li>
				<li class="{% if '/authentication/aspnetcore-v3/' == page.url %}active{% endif %}">
					<a href="{% link authentication/aspnetcore-v3.md %}">ASP.NET Core 3.x</a>
				</li>
				<li class="{% if '/authentication/reactjs/' == page.url %}active{% endif %}">
					<a href="{% link authentication/reactjs.md %}">React.js</a>
				</li>
				<li class="{% if '/authentication/nodejs/' == page.url %}active{% endif %}">
					<a href="{% link authentication/nodejs.md %}">Node.js</a>
				</li>
			</ul>
		</li>
		<li>Signatures Integration
			<ul>
				<li class="{% if '/signatures/dotnet-core-v3/' == page.url %}active{% endif %}">
					<a href="{% link signatures/dotnet-core-v3.md %}">ASP.NET Core 3.x</a>
				</li>
			</ul>
		</li>
		<li>Prepare for e-ID in production
			<ul>
				<li class="{% if '/eid-specifics/order-eid/' == page.url %}active{% endif %}">
					<a href="{% link eid-specifics/order-eid.md %}">E-ID in production</a>
				</li>
				<li class="{% if '/eid-specifics/order-dk-nemid/' == page.url %}active{% endif %}">
					<a href="{% link eid-specifics/order-dk-nemid.md %}">Danish NemID</a>
				</li>
				<li class="{% if '/eid-specifics/order-no-bankid/' == page.url %}active{% endif %}">
					<a href="{% link eid-specifics/order-no-bankid.md %}">Norwegian BankID</a>
				</li>
				<li class="{% if '/eid-specifics/order-no-vipps/' == page.url %}active{% endif %}">
					<a href="{% link eid-specifics/order-no-vipps.md %}">Norwegian Vipps Login</a>
				</li>
				<li class="{% if '/eid-specifics/order-se-bankid/' == page.url %}active{% endif %}">
					<a href="{% link eid-specifics/order-se-bankid.md %}">Swedish BankID</a>
				</li>
				<li class="{% if '/eid-specifics/order-fi-bankid/' == page.url %}active{% endif %}">
					<a href="{% link eid-specifics/order-fi-bankid.md %}">Finnish BankID</a>
				</li>
				<!--                <li class="{% if '/eid-specifics/order-nl-digid/' == page.url %}active{% endif %}">
					<a href="{% link eid-specifics/order-nl-digid.md %}">Dutch DigiD</a>
 -->
		</li>
	</ul>
	</li>
	<li>How to ...
		<ul>
			<li class="{% if '/how-to/get-ready-for-production/' == page.url %}active{% endif %}">
				<a href="{% link how-to/get-ready-for-production.md %}">Get ready for production</a>
			</li>
			<!--                 <li class="{% if '/how-to/set-up-domain/' == page.url %}active{% endif %}">
					<a href="{% link how-to/set-up-domain.md %}">Setup your own domain</a>
				</li>
                <li class="{% if '/how-to/iframe/' == page.url %}active{% endif %}">
					<a href="{% link how-to/iframe.md %}">E-ID in an iframe</a>
				</li>
 -->
			<li class="{% if '/how-to/order-eid/' == page.url %}active{% endif %}">
				<a href="{% link how-to/order-eid.md %}">Order e-ID for production</a>
			</li>
			<li class="{% if '/how-to/test-users/' == page.url %}active{% endif %}">
				<a href="{% link how-to/test-users.md %}">Create or get e-ID test users</a>
			</li>
			<li class="{% if '/how-to/choose-language/' == page.url %}active{% endif %}">
				<a href="{% link how-to/choose-language.md %}">Control e-ID language</a>
			</li>
			<li class="{% if '/how-to/work-with-metadata/' == page.url %}active{% endif %}">
				<a href="{% link how-to/work-with-metadata.md %}">Work with metadata</a>
			</li>
			<li class="{% if '/how-to/specify-prefilled-fields/' == page.url %}active{% endif %}">
				<a href="{% link how-to/specify-prefilled-fields.md %}">Pre-populate user input</a>
			</li>
			<li class="{% if '/how-to/set-up-custom-domain/' == page.url %}active{% endif %}">
				<a href="{% link how-to/set-up-custom-domain.md %}">Set up custom domain</a>
			</li>
			<li class="{% if '/how-to/acr-values/' == page.url %}active{% endif %}">
				<a href="{% link how-to/acr-values.md %}">Request a specific e-ID type</a>
			</li>
			<li class="{% if '/how-to/apply-custom-styling/' == page.url %}active{% endif %}">
				<a href="{% link how-to/apply-custom-styling.md %}">Apply custom styling to login pages</a>
			</li>
			<li class="{% if '/how-to/choose-eid-method/' == page.url %}active{% endif %}">
				<a href="{% link how-to/choose-eid-method.md %}">Transmit choice of e-ID method</a>
			</li>
			<li class="{% if '/how-to/troubleshoot/' == page.url %}active{% endif %}">
				<a href="{% link how-to/troubleshoot.md %}">Troubleshoot</a>
			</li>
		</ul>
	</li>
	</ul>
</div>