<div class="sidebar">
    <ul>
        <li><h1>Articles</h1></li>
        <li>Authentication Integration
            <ul>
                <li><a href="{% link authentication/aspnetcore.md %}">ASP.NET Core 2.x</a></li>
                <li>Node.js</li>
                <li>React.js</li>
            </ul>
        </li>
        <li>E-ID specifics
            <ul>
                <li>Danish NemID</li>
                <li>Norwegian BankID</li>
                <li>Swedish BankID</li>
                <li>Finnish BankID</li>
                <li>Dutch DigiD</li>
            </ul>
        </li>
        <li>How to ...
            <ul>
                <li>Get ready for production</li>
                <li>Setup your own domain</li>
                <li>E-ID in an iframe</li>
                <li><a href="{% link how-to/test-users.md %}">Test users for different e-ID types</a></li>
            </ul>
        </li>
    </ul>
</div>