.article {
    padding-bottom: 50px;
    line-height: 1.6;

    h3 {
        font-size: 18px;
        font-weight: 600;
        margin-top: 12px;
    }

    h4 {
        font-size: 18px;
        font-weight: 400;
        margin-top: 12px;
        font-style: italic;
    }

    p {
        margin-bottom: 12px;
    }
    li {
        margin-bottom: 6px;
    }

    img {
        display: block;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 10px 10px 10px lightgrey; 
        margin-bottom: 36px;
        margin-top: 26px;   
    }

    
    .alert-with-icon {
        display: flex;
        
        i {
            font-size: 20px;
            margin-right: 16px;
            line-height: 28px;
            position: relative;
            top: 0px;
        }

        
        .alert-content :last-child {
            margin-bottom: 0;
        }
    }

    table {
        width: 100%;
        th {
            border-bottom: 2px solid #ddd;
        }
        td {
            min-width: 150px;
            padding: 8px;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }
            
    }
}