$color-charcoal: #2d3e50;
$color-vivid-cerulean: #00a9ff;

header {
    padding: 15px 0;
    min-height: 46px;
    border-bottom: 1px solid #e6e6e6;
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    a {
        color: black;

        &:hover, &:focus, &:active {
            outline: none;
            text-decoration: none; 
            color: inherit;
        }
    }

  

    .header-flex {
        display: flex;
        justify-content: flex-end;
    }

    .logo {
        position: relative;
        top: 10px;
        transform: translate(-50%, 0);

        img {
            width: 90px;
        }
        
    }

    .wrap-login {    

        .login-button, .menu-item, .free-trial  {
            color: #2d3e50; 
        }

        .free-trial {
            background-color: rgba(233, 235, 237, 0.8);
        }

        .login-button, .free-trial {
            font-size: 12px;
            font-weight: 600;
            display: inline-block;
            border-radius: 80px;
            padding: 11px 23px; 

            &:hover {
                color: white;
                background-color: rgba(0, 169, 255, 0.8);     
            }
        }

        .button-wrap.popup-active .popup-window {
            opacity: 1;
            visibility: visible;
            z-index: 10;
        }

        .button-wrap {
            display: inline-block;
            float: left;
            position: relative;

            &:first-of-type {
                margin-right: 8px; 
            }    
        
            .popup-window {
                position: absolute;
                background-color: #f6e9e8;
                border-radius: 10px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
                width: 300px;
                right: 0;
                top: 48px;
                padding-bottom: 25px;
                opacity: 0;
                z-index: -10;
                visibility: hidden;

                .close-menu {
                    float: right;
                    height: 25px;
                    width: 25px;
                    margin-right: 13px;
                    margin-top: 13px;
                    cursor: pointer;

                    span {
                        width: 100%;
                        display: block;
                        height: 1px;
                        background-color: $color-charcoal;

                        &:first-child {
                            transform: translateY(12px) rotate(45deg);
                        }
                        &:last-child {
                            transform: translateY(11px) rotate(-45deg);
                        }
                    }
                    
                    &:hover span {
                        background-color: $color-vivid-cerulean;
                    }
                      
                }

                .popup-head {
                    padding: 11px 24px;
                    width: 100%;
                    border-bottom: 1px solid #d3d3d4;

                    .h3 {
                        margin: 0;
                        font-size: 24px;
                        font-weight: 600; 
                    }
                }

                .popup-body {
                    padding: 11px 24px;
                    width: 100%;
                    border-bottom: 1px solid #d3d3d4;

                    &:last-of-type {
                        border: 0;
                    }

                    p {
                        font-size: 15px;
                        margin-bottom: 0;
                        font-weight: 300;
                        line-height: 1.33;

                        &.bold {
                            margin-bottom: 5px;
                            font-weight: bold;
                        }
                    }
                }

            }
        }
    } 
}


